:root{
    --bg-color: #000000;
    --bg-btn-color: #1a1a1a;
    --bg-task-color: #2a2a2a;
    --primary-text-color: #f4f4f4;
    --delete-color: #ff4d4d;

    //padding variable
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l : 15px;
    --padding--xl: 20px;
    --padding-xxl: 30px;

    // border radius variable
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    //nav
    nav{
        padding: var(--nav-padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            background-color: var(--bg-btn-color);
            border: none;
            outline: none;
            color: var(--primary-text-color);
            padding: var(--padding-m) var(--padding-l);
            border-radius: var(--border-radius-m);
        }
    }

    //section
    section{
        padding: var(--section-padding);
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        gap: var(--padding-xxl);
        //task-colunm
        .task-column{
            display: flex;
            flex-direction: column;
            gap: var(--padding-m);
            background-color: var(--bg-btn-color);
            flex-grow: 1;
            padding: var(--padding-m);
            border-radius: var(--border-radius-m);
            transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
            //heading
            .heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .task{
                background-color: var(--bg-task-color);
                padding: var(--padding-m);
                display: flex;
                flex-direction: column;
                gap: var(--padding-s);
                border-radius: var(--border-radius-m);
                cursor: grab;
                //button
                button{
                    align-self: flex-end;
                    cursor: pointer;
                    padding: var(--padding-s) var(--padding-m);
                    border-radius: var(--border-radius-m);
                    border: none;
                    outline: none;
                    background-color: var(--delete-color);
                    color: var(--primary-text-color);
                }
            }
        }
        //second class(hover-over)
        .hover-over{
            border: 2px dashed var(--primary-text-color);
            scale: 1.04;
        }
    
    }
}